body{
	background:#CCC;
	padding:0;
}

svg{
	position:absolute;
	
}

line{
	stroke: #F00;
	stroke-width:2px;
}

#panel input{/*кнопки и поля ввода*/
	width:100px;
	height:30px;
}

#lab{/*Поля проведения эксперемента*/
	width:950px;
	height:500px;
	margin:auto;
	position:relative;
}

#panel{/*Панель управления*/
	width:200px;
	height:750px;
	background:#ffe8bb;
	right:0;
	float: left;
}

.graf{
	width:375px;
	height:250px;
	position:relative;
	top:500px;
}

.dat{
	width:60px;
	height:50px;
	background:#0F0;
	text-align:center;
	vertical-align:central;
}

.dat input{
	width:50px;
}

#page{
	width:1000px;
	margin:auto;
	background:#FFF;
}


#exp{
	width:750px;
	height:500px;
	background-image:url(img/lab_bc.png);
	float: left;
}

#prib{
	background-image:url(img/prib.png);
	width:180px;
	height:118px;
	position:absolute;
}

.pan_ob{
	width:180px;
	height:44px;
	background:#ffc85e;
	padding:2px;
	margin:auto;
	margin-bottom:5px;
	margin-top:5px;
	border-radius:5px;
	border:2px solid #630;
	text-align:center;
	vertical-align:central;
	
}