#sten{
	background-image:url(../img/lab3_sten.png);
	width:345px;
	height:423px;
	top:30px;
	left:200px;
	position:absolute;
}

#kol{
	background-image:url(../img/lab3_kol.png);
	width:254px;
	height:254px;
	left:278px;
	top:51px;
	position:absolute;
	transform-origin:127px 127px 0;
	transform:rotate(0deg)
}

#block{
	background-image:url(../img/lab3_block.png);
	width:27px;
	height:17px;
	position:absolute;
	left:20px;
	top:15px;
}

.gruz{
	background:#F00;
	width:10px;
	height:10px;
	position:absolute;
	left:50px;
}

#ver{
	background-image:url(../img/lab3_ver.png);
	width:7px;
	height:6px;
	position:absolute;
	left:29px;
	top:13px;
}

.kol_block{
	background-image:url(../img/lab3_block_kol.png);
	width:13px;
	height:14px;
	position:absolute;	
}

#kol1{
	left:121px;
	top:4px;
}
#kol2{
	left:120px;
	top:234px;
}
#kol3{
	left:6px;
	top:120px;
	transform:rotate(90deg);
}
#kol4{
	left:236px;
	top:120px;
	transform:rotate(90deg);
}

#panel{
	height:500px;
}